<div class="main-chat_header">
  <div class="header-left">
    <div class="header-title">moi</div>
  </div>
  <div class="header-right">
    <div class="header-button">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>



<div class="messages">
  <div class="message">
    <div class="message-top">
      <div class="message-user">
        KR
      </div>
      <div class="message-date">
        1985/01/17(Thu) 12:34:56
      </div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
        moi
      </div>
    </div>
  </div>

  <div class="message">
    <div class="message-top">
      <div class="message-user">
        RK
      </div>
      <div class="message-date">
        1985/01/17(Thu) 12:34:56
      </div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
        moi
      </div>
    </div>
  </div>
</div>



<%= form_with model: [@room, @message], class: 'main-chat_footer', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>