<div class="side-bar_header">
  <div class="header-name">
    <a href="#">moi</a>
  </div>
  <div class="create-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar_main">
  <div class="room">
    <div class="room-name">
      <a href="#">room1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">room2</a>
    </div>
  </div>
</div>